* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: url("https://www.pixelstalk.net/wp-content/uploads/2016/04/Google-Wallpaper-Good-Full-HD.png");
    background-size: cover;
    background-repeat: repeat-y;
    width: 70%;
    margin: 0 auto;
}

#logo {
  height: 150px;
  line-height: 100px;
  vertical-align: middle;
}

#title {
    color: #E8A317;
    font-size: 50px;
    font-weight: bold;
}

#line1 {
    border: 3px inset lightgrey;
    margin-bottom: 20px;
}

#search {
    font-size: 18px;
    margin-right: 10px;
}

#submit {
    font-size: 18px;
    font-weight: bold;
    padding: 2px 10px 2px 10px;
    background-color: #E8A317;
    color: white;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 5px;
}

.notification {
  margin-top: 20px;
  color: white;
  font-size: 30px;
  line-height: 70px;
}

#number {
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: #E8A317;
  text-align: center;
  vertical-align: middle;
}

hr {
    border: 3px inset lightgrey;
    margin: 10px 0;
}

.email-row {
  padding: 2px;
  border: 1px solid black;
}

.email-row.read {
  background-color: #AFC7C7;
}

.email-row.unread {
  background-color: white;
}

.email-text {
  color: grey;
}

.email-text:before {
  content: " - ";
}

.email-text:after {
  content: "...";
}

.star:after {
  content: "\02605";
}

footer {
  color: white;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
}

footer span {
  font-style: italic;
  font-size: 15px;
}
